// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$main-font: 'Kumbh Sans', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$orange: #ff7d1a;
$pale-orange: #ffede0;

$very-dark-blue: #1d2025;
$dark-grayish-blue: #68707d;
$grayish-blue: #b6bcc8;
$light-grayish-blue: #f7f8fd;
$white: #ffffff;
$black: #000000;

// Fonts
$f-size: 16px;

$w-normal: 400;
$w-bold: 700;